html {
    /* scroll-behavior: smooth; */
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.root {
    width: 100%;
    margin: 0;
    text-align: center;
}

.grid {
    display: grid;
}

.grid-item {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-item {
    overflow: hidden;
    display: flex;
}

.grid-item-5,
.intro {
    flex-wrap: wrap;
}

/* ###### BACKGROUND ###### */
.grid {
    background: #fff;
}

.intro,
.grid-item-9 {
    background-color: #292929;
}

.outro,
.grid-item-2 {
    background-color: #f7484e;
}

.grid-item-3,
.grid-item-4,
.grid-item-10 {
    background-color: #fff;
}

.grid-item-5 .pic:nth-child(1) {
    background-image: url(dog1.jpg);
}

.grid-item-5 .pic:nth-child(2) {
    background-image: url(dog2.jpg);
}

.grid-item-5 .pic:nth-child(3) {
    background-image: url(dog3.jpg);
}

.grid-item-5 .pic {
    width: 100vw;
    height: 100vh;
    background: no-repeat 0px 0px;
    transition: all .5s ease-in-out;
}

.grid-item-5 .pic:hover {
    transform: scale(1.1);
}


.grid-item-3,
.grid-item-5 {
    overflow: scroll;
}

/* ZNACZNIKI */

.intro__header {
    color: #f7484e;
    text-align: center;
    align-self: flex-start;
    margin-top: 30px;
    width: 100%;
    letter-spacing: 0.2ex
}

.nav,
.hamburger {
    cursor: pointer;
}

h2 {
    color: #000;
}

p {
    color: #000;
    padding: 100px;
}

ul li {
    list-style-type: decimal;
    color: #000
}

/* ###### IMG photo ###### */

img {
    max-width: 100%;
    background: no-repeat 0px 0px;
}

img[alt] {
    color: #fff;
}

/* ###### SIDE NAVIGATION ###### */
.icon {
    position: fixed;
    top: 25px;
    left: 25px;
}

.side--nav {
    overflow: hidden
}

/* slice */
.side--nav .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0;
}

.side--nav .slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
}

.side--nav .slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
}

.side--nav .slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
}

.side--nav .slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
}

.side--nav .slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
}

.side--nav .slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
}

/* HAMBURGER MENU */
.hamburger {
    outline: none;
    border: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    line-height: 1em;
    height: 2px;
    left: 0;
    top: 1.5em;
    transform-origin: center center;
    margin: 0 1.1em;
    background: #fff;
    transition: transform .4s;
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    width: 1.5em;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    transition: transform .4s;
    transform: rotateZ(0deg);
}

.hamburger::before {
    top: -6px;
}

.hamburger::after {
    bottom: -6px;
}

.hamburger:hover::after {
    left: -3px;
    transition: transform .4s
}

.hamburger:hover::before {
    left: 3px;
    transition: transform .4s
}

.hamburger:focus {
    background: transparent;
}

.hamburger:focus::after {
    transform: rotateZ(-45deg);
    bottom: -1px;
    left: 0;
}

.hamburger:focus::before {
    transform: rotateZ(45deg);
    top: -1px;
    left: 0;
}

/* SIDE MENU */

.side--menu {
    display: none;
    background-color: #fff;
    height: 100vh;
    transform: translateX(100%);
}

.side--menu ul li {
    list-style: none;
    padding: 20px 0px;
}

.side--menu a:link {
    padding: 6px;
    text-decoration: none;
    transition: 1s background-size;
    color: #f7484e;
    background: linear-gradient(#f7484e, #f7484e) bottom / 0 .15em no-repeat;
}

.side--menu a:hover {
    background-size: 100% .15em;
}

.side--menu a:visited {
    color: #f7484e;
}

.hamburger:focus::after~.side--menu {
    transform: translateX(0);
}

/* ###### NAVIGATION ###### */
.navigation {
    align-self: flex-end;
    margin-bottom: 30px;
    width: 100%;
}

.navigation ul {
    display: inline-block;
    list-style: none;
}

.navigation ul li {
    display: inline;
    text-align: center;
    padding: 0px 9px;
    float: left;
}

.navigation ul li:last-child {
    border-right: none
}

.navigation a:link {
    padding: 6px;
    text-decoration: none;
    transition: 1s background-size;
}

/* navigation type */
.navigation--dark ul li {
    border-right: 2px solid #f7484e;
}

.navigation--dark a:link {
    color: #f7484e;
    background: linear-gradient(#fff, #fff) bottom / 0 .15em no-repeat;
}

.navigation--dark a:hover {
    background-size: 100% .15em;
}

.navigation--dark a:visited {
    color: #f7484e;
}

.navigation--red ul li {
    border-right: 2px solid #000;
}

.navigation--red a:link {
    color: #000;
    background: linear-gradient(#fff, #fff) bottom / 0 .15em no-repeat;
}

.navigation--red a:hover {
    background-size: 100% .15em;
}

.navigation--red a:visited {
    color: #000;
}

.navigation--light ul li {
    border-right: 2px solid #000;
}

.navigation--light a:link {
    color: #000;
    background: linear-gradient(#f7484e, #f7484e) bottom / 0 .15em no-repeat;
}

.navigation--light a:hover {
    background-size: 100% .15em;
}

.navigation--light a:visited {
    color: #000;
}





/* ###### ###### DESKTOP ###### ###### */
@media (min-width:1024px) {

    /* OFF */
    .side--nav {
        display: none;
    }

    /* */
    #about,
    #work,
    #contact {
        display: flex;
    }

    .grid-item-2,
    .grid-item-3,
    .grid-item-4,
    .grid-item-5,
    .grid-item-9,
    .grid-item-10 {
        width: 50vw;
    }



}